body{
    -webkit-user-select: none; /* Safari */  
    -moz-user-select: none;    /* Firefox */  
    -ms-user-select: none;     /* IE10+/Edge */  
    user-select: none;         /* Standard syntax */ 
    
    height: 100%;
    width : 100%;
    margin: 0;
    padding: 0;
    background-color:gray;
    font-family: Arial, Meiryo;
    color:#fff;
}

.flex-container{
    position: fixed;
    top: 0;
    width:100%;
    padding-top: 3px;
    text-align: center;
    background-color:gray;
    z-index: 3;
    
}
.head-style{
    display: inline-block;
}
.img-progress {
    position: fixed;
    left: 0;
    top: -1px;
    height: 1px;
    opacity: 1;
    background: #40b5ff;
    border: solid #22648d;
    border-width: 2px 0;
    transition: width .3s, opacity .5s cubic-bezier(.76, 0, .86, .06)
    
}

.img-progress:after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    height: 1px;
    width: 1px;
    box-shadow: -2px -2px 3px 5px #40b5ff;
}
.button2 {
    display: block;
    font-size: xx-small; 
    /* margin: auto; */
} 
.ckbox{
    height: 18px; 
    width: 18px;
}
#bg-color{
    height: 20px;
    width: 20px;
    vertical-align: middle;
}
#debug{
    height: 20px;
    width: 20px;
    vertical-align: middle;
}
#toggleButton{
    position: absolute;
    background-color: gray;
    color:#fff;
    cursor: pointer;
    font-size: 20px;  
    width: 200px;
    border: none;
    border-radius: 0px 0px 10px 10px;
    transition: opacity 0.5s ease;
    opacity: 0;
}
.flex-container:hover + #toggleButton{
    opacity: 1;
}

#toggleButton:hover{
    opacity: 1;
}
#skeletonList{
    height: 20px;
    width: 180px;
}
#classList{
    height: 20px;
    width: 100px;
}
#speedList{
    width: 40px;
}
#loading-text{
    /* display:none; */
    opacity: 1;
}
#animation-progress{
    height: 2px;
    width:60vw;
    background: #fff;
    margin: 5px 0 0 0vw;
} 

.item1{grid-area: a;}
.item2{grid-area: b;}
.item3{grid-area: c;}
.item4{grid-area: d;}
.item5{grid-area: e;}
.item6{grid-area: f;}
.item7{grid-area: g;}
.item8{grid-area: h;}
.item9{grid-area: i;}
.item10{
    grid-area: j;
    display:flex; 
    align-items: center; 
    justify-content: end;
}
.item11{
    grid-area: o;
    display:flex; 
    align-items: center; 
    justify-content: center;
}
#animationControlPanel{
    position: absolute;
    /* width: 150px; */
    /* height: 150px; */
    top: 100px;
    left:5px;
    padding: 6px 0px;
    background: gray;
    box-shadow: 2px 2px 5px black; 
    display: grid;

    grid-template-columns: repeat(3,26px) 2.8em;
    grid-template-rows: repeat(6,26px); 
    grid-template-areas:
    '...    a   ...     e'
    'b      g   d       f'
    '...    c   ...     h'
    'j      j   j       i'
    'o      o   o       o';
    
    padding: 5px; 
    z-index: 999;
}
#viewrect{
    position: absolute;
    top:200px;
    left: 200px;
    width: 500px;
    height:500px;
    border:3px solid red;
    visibility: hidden;
  
}
#viewrectResize{
    position: absolute;  
    width: 20px;
    height:20px;
    bottom: 0;
    right: 0;
    cursor: se-resize;
}
#foot{
    color:#fff;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    background-color:gray;
}